body{
	
	padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: local;
	text-align: center;
	background-image:url("back.jpg");
	background-size: 1350px 5000px;
}
	a.one:link {color:#338DFF;text-decoration:none;}
	a.one:visited {color:#0000ff;text-decoration:none;}
	a.one:hover {color:#ff0000;text-decoration: none;}
	a.two:link {color:#338DFF;text-decoration:none;}
	a.two:visited {color:#0000ff;text-decoration:none;}
	a.two:hover {color:#ff0000;text-decoration: none;}
	a.three:link {color:#338DFF;text-decoration:none;}
	a.three:visited {color:#0000ff;text-decoration:none;}
	a.three:hover {color:#ff0000;text-decoration: none;}
	a.four:link {color:#338DFF;text-decoration:none;}
	a.four:visited {color:#0000ff;text-decoration:none;}
	a.four:hover {color:#ff0000;text-decoration: none;}
	a.five:link {color:#338DFF;text-decoration:none;}
	a.five:visited {color:#0000ff;text-decoration:none;}
	a.five:hover {color:#ff0000;text-decoration: none;}
	a.six:link {color:#338DFF;text-decoration:none;}
	a.six:visited {color:#0000ff;text-decoration:none;}
	a.six:hover {color:#ff0000;text-decoration: none;}
	a.seven:link {color:#338DFF;text-decoration:none;}
	a.seven:visited {color:#0000ff;text-decoration:none;}
	a.seven:hover {color:#ff0000;text-decoration: none;}
img.borderd{
padding-left:110px;}

div.make{
	padding-left:200px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
footer{
	background-color:#9A9EA8;
}

	 a.abt:link {color:#D5C47A;
	 text-decoration: none;}
	 a.abt:visited {color:#D5C47A;
	 text-decoration: none;}
	a.abt:hover {font-size:110%;}
	a.car:link {color:#D5C47A;text-decoration: none;}
	 a.car:visited {color:#D5C47A;text-decoration: none;}
	a.car:hover {font-size:105%;}
p.e{
	color:#D5C47A;
}
	p.e:link {color:red;text-decoration: none;}
	 p.e:visited {color:red;text-decoration: none;}
	p.e:hover {font-size:110%;}

	a.rr:link {color:#D5C47A;text-decoration: none;}
	 a.rr:visited {color:#D5C47A;text-decoration: none;}
	a.rr:hover {text-decoration: underline;}

	.ac h3{
		color:#EBB379;
	}
	.pc h3{
		color:#EBB379;
	}
	.sit h3{
		color:#EBB379;
	}
	.it h3{
		color:#EBB379
	}
	.ac{
		padding-right: 200px;
		padding-left: 150px;
		padding-bottom: 60px;
	}
	.sit{
		padding-right: 200px;
		padding-left: 200px;
		padding-bottom: 15px;
	}
	.pc{
		padding-bottom: 60px;
	}